/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}

:root {
	--theme-accent-100: theme('colors.orange.100');
	--theme-accent-200: theme('colors.orange.200');
	--theme-accent-300: theme('colors.orange.300');
	--theme-accent-400: theme('colors.orange.400');
	--theme-accent-500: theme('colors.orange.500');
	--theme-accent-600: theme('colors.orange.600');
	--theme-accent-700: theme('colors.orange.700');
	--theme-accent-800: theme('colors.orange.800');
	--theme-accent-900: theme('colors.orange.900');
}
